div.main.red:nth-of-type(1),
div.main.red:nth-of-type(4) {
  color: red;
  font-weight: bold;
}
div,p{
  font-size: 30px;
}

.parent > .child:nth-of-type(2) {
  color: red;
   font-weight: bold;
}
.baby2{
   color: red;
 font-weight: bold;
}

.Elzero,.Hello,.HTML {
  color: red;
  font-weight: bold;
}



